video {
  position: fixed;
  top: 55px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.black {
  position: fixed;
  background-color: rgba(0,0,0,.6);
  bottom:0;
  width: 100%;
  height:150px;
  display: flex;
}

.flex-wrap, .border {
	flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.record-button {
  height: 50px;
}

.border {
  border: 12px lightgrey solid;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  text-align: center;
  padding: .6em;
}

.record, .stop {
  cursor:pointer;
}

.record {
  width: 75px;
  height: 75px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}

.stop {
  margin: 16px;
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius:0;
  text-align: center;
}
