<div class="row" style="margin-top:-.5em;">
  <div class="col-12">
    <video class="rounded centered" id="myvideo" autoplay muted="muted" ></video>
  </div>
  <div class="col-12">
    <video class="rounded centered" id="peervideo" autoplay muted="muted" ></video>
  </div>
</div>

<div class="black flex-wrap">
  <!-- <img src="assets/material/ic_fiber_manual_record_white_48px.svg" alt=""> -->
  <div class="border">
    <div *ngIf="!isRecording" (click)="startRecording();checkButton()" class="record"></div>
    <div *ngIf="isRecording" (click)="checkButton()" class="stop"></div>
  </div>
</div>

<script>
  screen.lockOrientationUniversal = screen.lockOrientation || screen.mozLockOrientation || screen.msLockOrientation;

  screen.lockOrientationUniversal(["portrait-primary", "portrait-secondary"]);
</script>

