video {
  width: 100%;
  height: 250px;
}

.video-container  {
  width:2500px;
  margin-top: 1em;
  overflow-x:scroll;overflow-y:hidden
}

.oneVideo {
  /* width: 3000px; */
  height: 100px;
  margin-top: .5em;
  min-width: 3000px;
}

.video-container .row img {
  width: 100px;
  height:100px;
}

img {
  display:inline-block;
  width: 100px;
  height: 100px;
  transition: opacity .3s;
  cursor: pointer;

}

.selectedImg {
  border:red 3px solid;
  opacity: .5;
}
