rumba-front/node_modules

## python && IDE
.idea
*.pyc
*/venv/
venv/*
*/build/*
*/dist/
*.egg-info

## ansible
*.retry

## logs
*/logs
*.log

package-lock.json
.vagrant
venv
*.retry
variables.yml
backend.cfg