video {
  width: 100%;
  height: 250px;
}


.oneVideo img {
  display: inline-block;
  width:100px;
  height: 100px;
}


.selectedImg {
  border:red 5px solid;
  opacity: .5;
  background-color: red;
}
.oneVideo {
  padding:.2em;
}

.video-container {
  padding: .3em;
  overflow-x: auto;
   white-space: nowrap;
}
