video {
  width: 100%;
  height: auto;
  background:transparent url('/assets/logo/visual-studio.jpeg') no-repeat top left;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.video-disabled {
  opacity: .7;
}

.oneVideo > div.iframe > img {
  display: inline-block;
  width:80px;
  height: 80px;
  transition: opacity .3s;
  cursor:pointer;
}

.selectedImg {
  border-left:#fff 2px solid;
  border-right:#fff 2px solid;

  opacity: .5;
  /* background-color: red; */
}

.oneVideo {
  padding:.1em;
  display:block;
}

.ifame {
  display:block;
}

.video-container {
  margin: .3em;
  padding: .3em;
  overflow-x: auto;
  white-space: nowrap;
}

input, input:active, input:focus {
  outline: 0;
  outline: none;
}

div.selector {
  border: 4px solid yellow;
  margin: 0;
  padding:0;
  z-index: 1000;
  height: 80px;
  width: 80px;
  position: absolute;
}

div.claudator {
  margin: 0;
  padding: 0;
  z-index: 1000;
  height: 80px;
  width: 80px;
  position: absolute;
}

/* range slider for video zoom */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #bd2130;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #bd2130;
    cursor: pointer;
}
