<div>
  <video controls>
    <source src="https://www.youtube.com/watch?v=MPV7JXTWPWI">
  </video>
  <div class="row">
    <div class="col">

      <button type="BUTTON" style="padding:1px 3px;border-radius:3px" class="btn btn-xs btn-danger float-right right1">SEGÜENT</button>

    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="allVideos top1">
      <div class="video-container">

        <!-- <div class="oneVideo">
          <p>let url of singleList</p>
          {{singleList}}
          <div (click)="onSelectFrame($event)" class="iframe" *ngIf="singleList">
            <img *ngFor="let url of singleList" [src]="url" alt="foto" />
          </div>
        </div>

        <hr/> -->


        <div *ngFor="let oneList of listOfLists" class="oneVideo">
          <div (click)="onSelectFrame($event)" class="iframe">
            <img (click)="getThumbInfo(event)" [src]="one" alt="dynamic foto" *ngFor="let one of oneList; let i = index;">
          </div>
        </div>

        <hr/>

        <div class="oneVideo">
          <div (click)="onSelectFrame($event)" class="iframe">
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
          </div>
        </div>
        <div class="oneVideo">
          <div (click)="onSelectFrame($event)" class="iframe">
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
            <img src="assets/logo/rumba-home.png" alt="foto" />
            <img src="assets/logo/rumba_logo-v2.png" alt="foto" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
