<div class="container w-100 color-white orientation-bg">
  <!-- <div class="row">
    <div class="col">
      <div class="float-right">
          <button (click)="getOrientation()" type="button" class="btn btn-raised btn-secondari" name="button">Get Orientation</button>
      </div>
    </div>
  </div> -->

  <div class="row top2">
    <div class="col">
      <h3 class="title">
        Benvinguts Al concert de nadal de BigBand Mystery
      </h3>
    </div>
  </div>
  <div class="row top2 subtitle">
    <div class="col">
      <span class="subtitle regular">Data</span>
    </div>
  </div>

  <div class="row top1">
    <div class="col">
      <span class="subtitle regular">Localització</span>
    </div>
  </div>

  <div class="row top6">
    <div class="col">
      <div class="" style="text-align:center">
        <div class="">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div class="">
          ATENCIÓ!
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col top4 text-center">
        La funció de gravació només funcionarà amb el mòbil en orientació horitzontal
      </div>
    </div>
  </div>

</div>
