<div class="container w-85 p-3" style="margin-top:1em;">
  <div class="row">
    <div class="col">
      <!-- <span>
        Help Status  <span class="badge badge-secondary">{{activatedHelp}}</span>
      </span> -->
      <span class="float-right">
        <span class="btn-group-sm">
          <button
            id="activeHelp"
            type="button"
            class="btn btn-xs btn-primary bmd-btn-fab"
            title="Activar ajuda"
            style="background-color: #fff173; color:black;">
              <i class="fas fa-question"></i>
          </button>
          <button
            id="desactiveHelp"
            type="button"
            class="btn btn-xs btn-primary bmd-btn-fab hidden"
            title="Desactivar ajuda"
            style="background-color: #fff173; color:black;">
              <i class="fas fa-question-circle"></i>
          </button>
        </span>
      </span>
    </div>
  </div>
</div>

<div class="container w-85 p-3">
  <div class="row">
    <div class="col">

      <div class="form-group">
        <label for="concert" class="bmd-label-floating">Concert</label>
        <p class="bodytext bottomline">Concert de Nadal</p>
      </div>

      <div class="form-group top1">

        <label for="banda" class="bmd-label-floating">Banda *</label>
        <p class="bodytext bottomline">Magic Band</p>
      </div>

      <div class="form-group top2">
        <label for="logo" class="bmd-label-floating">Logo</label>
        <div>
          <img width="100" src="assets/logo/rumba_logo-v2.png" alt="">
        </div>
      </div>

      <div class="form-group top2">
        <label for="data" class="bmd-label-floating">Data *</label><br/>
        <p class="bodytext bottomline">12/3/2018</p>
      </div>

      <div class="form-group top1">
        <label for="localitzacio" class="bmd-label-floating">Localització</label>
        <p class="bodytext bottomline">Barcelona, Parc del Fòrum</p>
      </div>

      <div class="form-group top1">
        <label for="vimeo" class="bmd-label-floating">Vimeo</label>
        <p class="bodytext bottomline">Username </p>
        <p class="bodytext bottomline">Password </p>
      </div>
    </div>
  </div>
</div>
<div class="container w-85 p-3">
  <div class="row">
    <div class="col">
      <button class="btn btn-raised btn-danger" type="button" name="button">COMPARTIR ENLLAÇ D'EDICIÓ</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-right">
        <button class="btn btn-raised btn-danger" type="button" name="button">TANCAR LA SESSIÓ</button>
      </div>
    </div>
  </div>
</div>
