<div style="text-align:center">
  <div class="">
    <img width="300" src="assets/logo/rumba_logo-v2.png" alt="">

  </div>

  <br />
  <p class="subtitle regular size24">
    Title Regular
  </p>
  <p class="subtitle light size24">
    Subtitle Light
  </p>
  <p class="bodytext size18">
    Body text Thin. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <div class="box-container" >

  <div class="bg-red">
  </div>
  <div class="bg-yellow">
  </div>

  <div class="bg-white">
  </div>
  <div class="bg-lgrey"></div>
<div class="bg-dgrey"></div>
<div class="bg-black">
</div>

  <button class="btn btn-primary">Check button</button>

  </div>
</div>
